@model ProjectMVC.Models.ViewModels.CreateViewModel
@{
                /**/

                ViewBag.Title = "Show";
}

<h2>Show</h2>

<label>Name:</label>
<input type="text" name="Name" value="@Model.Name" />